:root {
    --col-count: 11;
    --row-count: 10;
    --col-witdh: calc(100% / var(--col-count));
    --row-height: calc(100% / var(--row-count));
    --background: #000000;
    --non-active-color: #111111;
    --active-color: #ff0000
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: var(--background);
    color: var(--non-active-color);
    font-size: 2rem;
    overflow: hidden;
}

.container {
    height: 100%;
    width: 100%;
    transition: width 0.3s, height 0.3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: var(--row-height);
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--col-witdh);
    /*height: 108PX;*/
    /*height: var(--row-height);*/
}

.on {
    color: var(--active-color);
    font-weight: bold;
}